BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackParameters: true
BreakBeforeBraces: Linux
IndentCaseLabels: false
ColumnLimit: 120
